

input.ng-touched.ng-invalid {
    border: 1px solid red;
  }
  small {
    color: blueviolet;
  }
  .submit {
    text-align: center;
  }
  .d-flex {
    display: flex;
    justify-content: center;
  }
  .fw-bold {
    cursor: pointer;
  }