<!-- <section style="background-color: #eee"> -->
<section>
  <div class="container py-5">
    <div class="searchWord  p-3">
      <h2>results for search "{{ searchWord }}"</h2>
    </div>
    <div class="row justify-content-center mb-3" *ngFor="let item of searchResult">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <a routerLink="/details/{{item.id}}">
                    <img src="{{ item.productImageUrl }}" class="w-100" />
                  </a>
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15)"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <a routerLink="/details/{{item.id}}">
                  <h5>{{ item.productName }}</h5>
                </a>
                <div class="d-flex flex-row">
                  <div class="text-danger mb-1 me-2">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <span>310</span>
                </div>
                <div class="mt-1 mb-0 text-muted small">
                  <span class="text-primary">
                    {{ item.productDescription }}
                  </span>
                </div>

                <p class="text-truncate mb-4 mb-md-0">
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable.
                </p>
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1">
                    {{ item.productPrice | currency : "INR" }}
                  </h4>
                  <span class="text-danger"><s>$20.99</s></span>
                </div>
                <h6 class="text-success">Free shipping</h6>
                <div class="d-flex flex-column mt-4">

                  <button class="btn btn-primary btn-sm" routerLink="/details/{{item.id}}" type="button">
                    Details
                  </button>
                  <!-- <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                    Add to Cart
                  </button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <app-footer></app-footer> -->